.App {
  display: flex;
  justify-content: center;
}
html{
  /* la imagen a ser mostrada a pantalla completa */
  background:url('./assets/img/blur2.jpg') no-repeat center center;

  /* nos aseguramos que el elemento ocupe toda la ventana del navegador */
  min-height:100%;

  /* Propiedad a utilizar para la imagen */
  background-size:cover;
}

label {
  font-weight: bold;
  display: flex;
  margin-bottom: 5px;
  color: #fff;
}

input + label {
  font-weight: bold;
  display: inline-flex;
  margin-right: 20px;
}

input[type='text'],
input[type='email'],
input[type='password'],
textarea,
select {
  display: block;
  width: 400px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-control {
  margin-bottom: 20px;
}
.error {
  color: red;
}
.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  
}

.button-submit {
  background-color: #320F51;
}

.button-reset {
  background-color: #c7445a;
}

.button:disabled {
  background-color: #7544a0;
}